// Custom.scss

@font-face {
    src: url("fonts/sofia_pro/sofia_pro_regular-webfont.woff2") format("woff2");

    font-family: "Sofia Pro";
    font-weight: 400;
}

@font-face {
    src: url("fonts/aldo_ot_cev/alda_ot_cev_regular-webfont.woff2") format("woff2");

    font-family: "Aldo OT CEV";
    font-weight: 400;
}

// do the rest

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #FFD744;
$secondary: #009278;

$bs-tertiary-color: #FDF9F1;
$bs-info-color: #EBF7FD;

$font-family-base: "Sofia Pro", sans-serif;

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// Create your own map
$custom-colors: (
  "tertiary": $bs-tertiary-color,
  "info": $bs-info-color
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

// 5. Include remainder of required parts
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../bootstrap/scss/utilities";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
@import "../bootstrap/scss/images";
@import "../bootstrap/scss/containers";
@import "../bootstrap/scss/grid";
@import "../bootstrap/scss/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../bootstrap/scss/utilities/api";

@import "../bootstrap/scss/bootstrap";

// custom mixins

@mixin gradient($direction, $list) { 
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);  
  }

// 2. Add additional custom code here

header {
    #logo {
        height: 41px;
    }
}

h1, h2, h3, h4, h4 {
    font-family: "Aldo OT CEV", serif;
}

$bg-top-half-list: $bs-info-color 0%, $bs-info-color 40%, #fff 40%, #fff 100%;

.bg-top-half {
    @include gradient(top, $bg-top-half-list);
}

.card-img-fill {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-img-fill-sm {
    width: 100%;
    height: 12rem;
    object-fit: cover;
}