<div class="row">
    <div class="col-md-5 d-none d-md-block mx-auto mx-lg-0 col-lg-5">
        <image class="w-100" src="img/stock/couple_on_vespa_hex.webp">       
    </div>
    <div class="col-md-6 offset-lg-1 mb-4 mb-md-0">
        <h1 class="display my-0 my-md-5">The Helply Virtual Assessment for Caregivers</h1>
        <p class="fs-5 my-5">
            The more we know about you and your needs, the better we'll be able to help you. Thanks in advance for answering these simple but important questions.
        </p>
        <a href="#/assessment/1" class="btn btn-lg btn-primary py-2 px-5">Start</a>
    </div>
</div>