<footer>
    <div class="container-fluid text-light">
        <div class="container py-5">
            <div class="col-12">
                <h1>helply</h1>
            </div>
            <div class="col-12">
                <ul>
                    <li>Services</li>
                    <li>Advice</li>
                    <li>Articles</li>
                    <li>FAQ</li>
                    <li>About Us</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="col-12">
                Terms & Conditions | Privacy Policy
            </div>
            <div class="col-12">
                &copy; Copyright 2023 Helply All Rights Reserved
            </div>
        </div>
    </div>
</footer>