<header>
    <nav class="py-5 navbar navbar-expand-md d-none d-md-flex">
        <div class="container">
            <a href="#" class="navbar-brand me-auto">
                <img id="logo" src="img/helply_logo.png" alt="Helply logo">
            </a>
            <div class="navbar-nav">
                <a href="#" class="nav-link link-body-emphasis px-4"><i class="bi bi-envelope pe-2"></i>Contact Us</a>
                <span class="py-2">|</span>
                <a href="#" class="nav-link link-body-emphasis px-4">Harry H</a>
                <a href="#" class="nav-link link-body-emphasis px-4">Log out</a>
            </div>
        </div>
    </nav>
    <nav class="py-3 bg-tertiary navbar navbar-expand-md">
        <div class="container px-4 px-md-0">
            <a href="#" class="navbar-brand me-auto d-md-none">
                <img id="logo" src="img/helply_logo.png">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapse" aria-controls="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse me-auto" id="collapse">
                <div class="navbar-nav me-auto">
                    <a href="#" class="nav-link link-body-emphasis pe-4">Services</a>
                    <a href="#" class="nav-link link-body-emphasis pe-4">Advice</a>
                    <a href="#" class="nav-link link-body-emphasis pe-4">Articles</a>
                    <a href="#" class="nav-link link-body-emphasis pe-4">FAQ</a>
                    <a href="#/about_us" class="nav-link link-body-emphasis pe-4">About Us</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link link-body-emphasis pe-4" href="#"><i class="bi bi-cart3 pe-2"></i>Cart</a>
                </div>
                <hr>
                <div class="navbar-nav d-md-none">
                    <a href="#" class="nav-link link-body-emphasis pe-4"><i class="bi bi-envelope pe-2"></i>Contact Us</a>
                    <a href="#" class="nav-link link-body-emphasis pe-4">Harry H</a>
                    <a href="#" class="nav-link link-body-emphasis pe-4">Log out</a>
                </div>
            </div>
        </div>
    </nav>

    <nav class="container bg-white px-4 px-md-2 pt-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#" class="link-secondary">Home</a></li>
          <li class="breadcrumb-item"><a href="#" class="link-secondary">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>
</header>