<header>
    <div class="container d-flex flex-wrap justify-content-center py-5">
        <a href="#" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
            <img id="logo" src="img/helply_logo.png">
        </a>
        <ul class="nav">
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-4"><i class="bi bi-envelope pe-2"></i>Contact Us</a></li>
            <li class="nav-item"><a class="nav-link">|</a></li> <!-- cleanup -->
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-4">Harry H</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-4">Log out</a></li>
        </ul>
    </div>
    <nav class="py-3 bg-body-tertiary">
        <div class="container d-flex flex-wrap">
            <ul class="nav me-auto">
                <!-- maybe make the :first padding 0 -->
                <li class="nav-item"><a href="#" class="nav-link link-body-emphasis ps-0 pe-4 ">Services</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-4">Advice</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-4">Articles</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-4">FAQ</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-4">About Us</a></li>
            </ul>
            <ul class="nav">
                <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-4"><i class="bi bi-cart3 pe-2"></i>Cart</a></li>
            </ul>
        </div>
    </nav>
</header>